<%-include("partials/header.ejs")%>
<div class="main-invite-container">
    <h1>Welcome To Pegasys</h1>
    <p>To find about your latest invites, please click the below link</p>
    <hr>
    <a href="/invites">Invites</a>
</div>
<%-include("partials/footer.ejs")%>
